body {
  background-color: #f9f9f9;
}
nav {
  font-size: 15pt;
}
nav i {
  align-self: center;
  margin: auto 1rem;
}
.back {
  font-size: 20pt;
  top: 0;
  margin-bottom: 3rem;
  color: black;
}

main {
  margin: 2rem auto;
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}
main header {
  margin: 1rem;
  display: flex;
}
header h2 {
  margin-left: 2rem;
  font-size: 20pt;
  font-weight: bold;
  align-self: center;
}
.avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  display: flex;
}
main article {
  margin: 1rem;
}

.imgs img {
  border-radius: 15px;
  padding: 0.5rem;
}

.post {
  margin: 0 0 2rem 0;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}
.interaction ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}
.interaction li {
  display: inline;
}
.interaction button,
a {
  width: inherit;
}
.interaction i {
  margin: auto 1rem;
}
.comments {
  margin: auto auto;
  border-radius: 10px;
  width: 90%;
}
.commenting {
margin: 1rem auto;
}
.comment {
  margin: 0.3rem 0.3rem;
  background-color: #c1f1e4;
  border: #ccc;
 border-style: solid;
  border-radius: 5px;
  display: flex;
  padding: 15px;
      align-items: center
}
.comment p {
        margin: auto 1rem;
}
.comm-avatar {
  width: 2em;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
}